<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.5.3" targetFramework="net472" />
  <package id="NuGet.Build.Packaging" version="0.2.2" targetFramework="net472" developmentDependency="true" />
  <package id="Serilog" version="2.7.1" targetFramework="net472" />
  <package id="Serilog.Settings.AppSettings" version="2.1.2" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net472" />
  <package id="Serilog.Sinks.Literate" version="3.0.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="TimeZoneConverter" version="2.4.1" targetFramework="net472" />
</packages>